body
    {
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        text-align: center;
        background-color: yellowgreen;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
    }
form
    {
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        margin: 10px;
        box-shadow: 0 4px 8px rgba(0,0,0, 0.3);
    }   
input
    {
        display: block;
        text-align: center;
        width: 100%;
        font-size: 30px;
        font-family:monospace;
        font-weight: 700;
        padding: 10px;
        box-sizing: border-box;
        color: green;
        border: 4px solid green;
        border-radius: 10px;
    }
input::placeholder
    {
        color: rgb(144, 173, 144);
    }    
.btn
    {
        display: block;
        background: green;
        color: #fff;
        border: none;
        border-radius: 10px;
        box-shadow: 0 5px 5px rgba(0,0,0, 0.3); 
        width: 100%;
        font-size: 30px;
        padding: 10px;
        margin: 10px 0;
        cursor: pointer;
        text-transform: capitalize;
        letter-spacing: 4px;
    }
.btn:hover 
    {
        filter: brightness(0.5);
    }      
.score
    {
        color: green;
        text-align: right;
    }